body {
    font-family: "Mina";
    background-color: #ffffff;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    color: #1e3f07;
  }
  
  #history {
    width: 60%;
    margin: 30px auto;
    background-color: #16a768;
    padding: 30px;
    align-items: center;
    display: flex;

  }

  #history h2 {
    font-size: 30px;
    color: #ffffff;
  }