@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .leaflet-container {
    margin: auto;
    width: 50%;
    height: 400px;
    position: relative;
    align-items: center;
    justify-content: center;
  }